.hero {
    height: 85vh;
    /* background-color: #131429; */
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    font-weight: bold;
    
}

p {
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: justify;
    word-spacing: normal;
}
.carousel-control-prev-icon{
    display: none;
}
.mobile {
    width: 100%;
}

.about, .devises, .faq {
    background-color: #000;
}

.crypto {
    background-color: #000;
}

.footer {
    background-color: #2c7a7c;
    width: 100%;
}

.img-andios {
    width: 80%;
}

.download-app-img-mobile{
    display: none;
}

.call-to-action{
    padding: 10%;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('../img/IFAphone.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.call-to-action h2{
    font-size: 60px;
    font-weight: bold;
}

@media (max-width : 576px) {
    .download-app {
        display: flex;
    }

    .download-app a {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
    }
    .carousel-control-next-icon{
        display: none;
    }
    #CarouselImgHome{
        margin-left: -200px;
    }
    #labelh1p h1{
        font-size: 25px;
    }
    #divImg {
        width: 100%;
        text-align: center;
    }
    .about{
        padding: 1%;
    }
    .about .mobile-about{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-mobile #about-text-mobile{
        text-align: center;
        font-size: 30px;
        padding: 8px;
        font-weight: bold;
    }
    .about-mobile a{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .commentcamarche{
        padding-top: 0%;
    }
    .commentcamarche #howdoit{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .timeline .timeline-text{
        font-size: 16px;
        font-family: 'Work Sans';
    }
    .download .download-row{
        padding-top: 30px;
    }
    
    .download-app-img-mobile, .download-app{
        flex-direction: column-reverse;
    }

    .download-app-img-mobile{
        display: block;
    }
    .download-app-img{
        display: none;
    }
    .faq #questions{
        font-size: 30px;
    }
    .mck-sidebox-launcher{
        position: relative;
        top: 20 !important;
    }
    .call-to-action h2{
        font-size: 34px;
    }
}

@media (max-width : 768px){
    #signupMenu{
        margin-top: 15px;
    }
    .about-mobile #about-text-mobile{
        text-align: center;
        margin-top: 12px;
    }
    .call-to-action h2{
        font-size: 28px;
    }
    .download{
        padding-top: 4%;
    }
    
}

@media (min-width : 1024px){
    #labelh1p h1{
        font-size: 30px;
        word-spacing: normal;
    }
}
.mck-sidebox-launcher{
    position: relative;
    top: 20px !important;
}
#CarouselImgHome {
    height: 350px !important;
    width: 450px !important;
}

#divImg {
    width: 400px !important;
    margin-left: 100px !important;
}

#carousel {
    border: none;
}