

#imgdevise{
    width: 110px !important;
    height: 110px !important;
    margin-right: 15px !important;
    border-left: 1px solid rgb(191, 204, 230);
    border-right: 1px solid rgb(59, 56, 56);
    border-radius: 10px;
    /*filter: brightness(0.6);*/
}
#bg-success-achat {
background-color: rgba(171, 237, 184, 0.791) !important ;
color: rgba(4, 90, 10, 0.988) !important;
margin-right: 10px;
box-shadow: 1px 0px 1px 0.5px;
}
#bg-success-vente {
    background-color: rgba(238, 163, 163, 0.791) !important ;
    color: rgba(126, 6, 6, 0.988) !important;
    box-shadow: 1px 0px 1px 0.5px;
    }
#labdevh2{
    text-transform: uppercase;
    font-size: 15px;
    height: 20px;
    width: auto ;
    text-shadow: 1px 2px 1px 0.5px;
}
#labeldevise {
color: rgb(11, 12, 12);
display: inline-flex !important;
text-align: justify !important;
width:200px;
}
#achatvente{
    margin-top: 30px !important;
    display: flex !important;
    margin-left: -30px;
    height: 25px;
    width: 110px;
    
}
